@model WebbanBALO.Areas.Admin.Models.Framework.Danhmuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Danhmuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tendm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tendm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenvt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenvt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thutusx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thutusx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thutuht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thutuht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Danhmuc2.Tendm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Danhmuc2.Tendm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Madm }) |
    @Html.ActionLink("Back to List", "Index")
</p>
