@model IEnumerable<WebbanBALO.Areas.Admin.Models.Framework.Sanpham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sản Phẩm Balo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tensp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trangthai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Danhmuc.Tendm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tensp)
        </td>
        <td>
            <img src="@Url.Content("~/Areas/Admin/FilesUpload/" +item.Anh)" width="50" height="50" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trangthai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Danhmuc.Tendm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Masp }) |
            @Html.ActionLink("Details", "Details", new { id=item.Masp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Masp })
        </td>
    </tr>
}

</table>
