@model WebbanBALO.Areas.Admin.Models.Framework.Sale

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenspsale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenspsale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giasale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giasale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anhsp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anhsp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Masale }) |
    @Html.ActionLink("Back to List", "Index")
</p>
